:root {
    --gunmetal: hsla(212, 14%, 19%, 1);
    --robin-egg-blue: hsla(176, 56%, 55%, 1);
    --light-red: hsla(0, 100%, 71%, 1);
    --white: hsla(0, 0%, 100%, 1);
}

body {
    background-color: var(--gunmetal);
    color: var(--white);
}