body {
    color: #edf2f4;
    background-color: #001d3d;
}

span {
    color: #ffd60a;
}

svg text {
    fill: #edf2f4;
    font-size: 1.3rem
}

svg:hover {
    cursor: crosshair;
}

.node rect {
    rx: 7px;
    fill: #ffc300;
    opacity: 70%;
}

.link {
    fill: none;
    stroke: #ffd60a;
    opacity: 35%;
}

.link:hover {
    opacity: 100%;
    transition: 500ms;
}