:root {
    --prim-dark: #2B2B2B;
    --prim-light: #F7F7F7;
    --prim-blue: #0496FF;
    --prim-blue-dark: #007AD1;
    --prim-yellow: #FFBC42;
    --prim-yellow-dark: #FFAB0F;
    --prim-red: #D81159;
    --prim-red-dark: #AA0E47;
    --prim-green: #3ABA51;
    --prim-green-dark: #2F9341;
}

body {
    color: var(--prim-light);
    background-color: var(--prim-dark);
}

.card {
    background-color: var(--prim-dark);
    border: none;
    margin: 0;
    padding: 0;
}

.card-body {
    margin: 0;
    padding: 0;
}

svg:hover {
    cursor: crosshair;
}

.default {
    fill: var(--prim-dark);
}

.Airplane-text-bg {
    color: var(--prim-light);
    background-color: var(--prim-green-dark);
}

.Automobile-text-bg {
    color: var(--prim-light);
    background-color: var(--prim-red-dark);
}

.Boat-text-bg {
    color: var(--prim-light);
    background-color: var(--prim-blue-dark);
}

.Train-text-bg {
    color: var(--prim-dark);
    background-color: var(--prim-yellow-dark);
}

.hidden {
    fill: transparent;
}