:root {
    --prim-dark: #2B2B2B;
    --prim-light: #F7F7F7;
    --prim-blue: #0496FF;
    --prim-blue-dark: #007AD1;
    --prim-yellow: #FFBC42;
    --prim-yellow-dark: #FFAB0F;
    --prim-red: #D81159;
    --prim-red-dark: #AA0E47;
    --prim-green: #3ABA51;
    --prim-green-dark: #2F9341;
}

body {
    color: var(--prim-light);
    background-color: var(--prim-dark);
}

svg:hover {
    cursor: crosshair;
}

.Airplane {
    fill: var(--prim-green-dark);
}

.Airplane-hovered {
    fill: var(--prim-green);
    stroke: var(--prim-green);
    stroke-width: 0.3;
}

.Automobile {
    fill: var(--prim-red-dark);
}

.Automobile-hovered {
    fill: var(--prim-red);
    stroke: var(--prim-red);
    stroke-width: 0.3;
}

.Train {
    fill: var(--prim-yellow-dark);
}

.Train-hovered {
    fill: var(--prim-yellow);
    stroke: var(--prim-yellow);
    stroke-width: 0.3;
}

.Boat {
    fill: var(--prim-blue-dark);
}

.Boat-hovered {
    fill: var(--prim-blue);
    stroke: var(--prim-blue);
    stroke-width: 0.3;
}