.text-bg-q4 {
    color: #010a14 !important; 
    background-color: #f17300 !important; 
}

.text-bg-q3 {
    color: #010a14 !important; 
    background-color: #e6ac77 !important; 
}

.text-bg-q2 {
    color: #010a14 !important; 
    background-color: #7097c0 !important; 
}

.text-bg-q1 {
    color: #f1f5f8 !important; 
    background-color: #054a91 !important; 
}