* {
    font-family:Century Gothic;
    color: #414042;
}

body {
    margin: 2rem 3rem;
    background-color: #FFFFFF;
    display:grid;
    place-content:center;
}


#titles {
    display:grid;
    place-content:center;
    text-align:center;
}

#navigation {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.toggle-bins {
    display:grid;
    place-items:center;
    padding:1rem 2rem 1rem 0;
    padding-left: 2rem;
}

.toggle-bins h4 {
    margin:0px;
    padding-bottom:1rem;
}

.toggle-bins div:not(:last-child) {
    padding-bottom:3px;
}

#canvas {
    display:grid;
    place-content:center;
}

.x-grid line, .y-grid line {
    stroke:lightgray;
}

svg text {
    fill:#414042;
}

.tooltip h4, p {
    color:#FFFFFF;
}

.tooltip h4 {
    text-decoration:underline;
    padding:0 0 5px 0;
    margin:0;
}

.tooltip p {
    font-size: 13px;
    padding:0 0 2px 0;
    margin:0;
}

#caption li:not(:last-child) {
    padding-bottom: 10px;
}

.vert-line {
    background-color:lightgray;
    height:0.5px;
    padding: 0 10px 0 10px;
}