* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.table-title {
    font-size: 2.1rem;
    font-weight: 700;
}

.table-subtitle {
    font-size: 1.1rem;
    font-style: italic;
    padding: 1px 0px 10px 0px;
}

table {
    width: 70%;
}

th {
    color: white;
    background-color: #1D428A;
}

table, td, th {
    border-left: none;
    border-bottom: 2px solid #F0F0F0;
    border-collapse: collapse;
    padding: 3px 5px;
}

td .TT {
    position:relative;
}

td .ToolTip {
    display:none;
    position:absolute; 
    z-index:100;
    border:1px;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:red;
    padding:3px;
    color:red; 
    top:20px; 
    left:20px;
}

.TT:hover span.ToolTip{
    display:block;
}