*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    margin-bottom: 3rem;
}

/* Table 1 Styling */

#my-table-1 {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    justify-content:center;
}

#my-table-1 table {
    border-collapse:collapse;
}

/* Table 2 Styling */

#my-table-2 {
    font-family: 'Comfortaa', cursive;
    display: grid;
    justify-content:center;
}

#my-table-2 table {
    border-collapse:collapse;
}

/* Table 3 Styling */

#my-table-3 {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    justify-content:center;
}

#my-table-3 table {
    border-collapse:collapse;
}

/* Table 4 Styling */

#my-table-4 {
    font-family: 'Domine', serif;
    display: grid;
    justify-content:center;
}

#my-table-4 table {
    border-collapse:collapse;
}