*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Standard Headers */

div {
    padding: 1rem 0rem 2rem 0rem;
}

h2 {
    margin-bottom: 0.25rem;
}

h4 {
    margin-bottom:1rem;
}


/* Table 1 Styling */

#my-table-1 {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    justify-content: center;
    background-color: #ddeef8;
    color:#40474f;
}

#my-table-1 table {
    border-collapse: collapse;
    box-shadow: 0px 0px 15px 0.5px #8aa5bc;
    background-color: #ffffff;
    color:#40474f;
    text-align: left;
}

#my-table-1 th {
    background-color: #8aa5bc;
    padding: 1rem 2rem;
    font-size: 0.9rem;
}

#my-table-1 td {
    padding: 0.75rem 2rem;
}
#my-table-1 tr:nth-child(even) {
    background-color: #f2f5f8;
}


/* Table 2 Styling */

#my-table-2 {
    font-family: 'Comfortaa', cursive;
    display: grid;
    justify-content:center;
    background-color: #e5dcdd;
    color: #424c55
}

#my-table-2 table {
    border-collapse:collapse;
    text-align: left;
}

#my-table-2 th {
    background-color: #825e62;
    color: #f5edf0;
    padding: 1rem 2rem;
    font-size: 0.7rem;
}

#my-table-2 td {
    padding: 0.75rem 2rem;
    border-bottom: 1px solid #825e62;
}


/* Table 3 Styling */

#my-table-3 {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    justify-content:center;
    background-color: #E7E4F2;
    color: #2b2a2e;
}

#my-table-3 table {
    border-collapse:collapse;
    background-color: #F4F4F6;
}

#my-table-3 th {
    background-color:#D2D3DA;
    text-align:center;
    padding: 1rem 2rem;
    border: 2px solid #F4F4F6;
    border-bottom: 4px solid #BCBDC8;
    letter-spacing: 0.1rem;
}

#my-table-3 td {
    padding: 1rem 2rem;
    text-align:left;
    border: 2px solid #D2D3DA;
}

#my-table-3 tr:nth-child(even) {
    background-color: #E9E9EC;
}


/* Table 4 Styling */

#my-table-4 {
    font-family: 'Domine', serif;
    display: grid;
    justify-content:center;
}

#my-table-4 table {
    border-collapse:collapse;
}

#my-table-4 th {
    color: #db7221;
    text-align: left;
    padding: 0.5rem 2rem 0.5rem 0rem;
    border-bottom: 1px solid #dedcd9;
}

#my-table-4 td {
    padding: 0.5rem 2rem 0.5rem 0rem;
    border-bottom: 1px solid #dedcd9;
}