*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body div {
    margin-bottom: 3rem;
}

/* Table 1 Styling */

#my-table-1 #my-table {

}

/* Table 2 Styling */

#my-table-2 #my-table {

}

/* Table 3 Styling */

#my-table-3 #my-table {

}

/* Table 4 Styling */

#my-table-4 #my-table {

}